:root {
  --bg-main-page-color: #ffffff;
  --desc-text-color: #757575;
  --bg-button-color: #2196f3;
  --button-color: #ffffff;
  --nav-color: #212121;
  --bg-button-filter: #f5f4fa;
  --project-title-color: #212121;
  --bg-btn-hover: #188ce8;
  --name-color: #000000;
  --bg-footer: #2f303a;
  --color-contact-footer: #ffffff;
  --bg-section-team: #f5f4fa;
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --bg-work-content: rgba(47, 48, 58, 0.8);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --bg-poject-hover: rgba(33, 150, 243, 0.9);
  --comment-color: rgba(117, 117, 117, 0.5);
  --mailing-text-pl: rgba(255, 255, 255, 0.6);
}
/* ======глобальнвй сброс======= */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
textarea {
  resize: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ======conainer====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ======conainer-header====== */
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #ececec;
}
/* вся страница */
body {
  margin: 0 auto;

  background-color: var(--bg-main-page-color);
  color: var(--nav-color);
  font-family: Roboto, sans-serif;
}

/* название компании */
.name-company .text {
  color: var(--bg-button-color);
  font-family: Raleway;
}
.name-company {
  padding: 24px 0px 25px;

  color: var(--name-color);
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
/* ======== не для ТЗ ========= */
/* .navigation:hover .name-company {
  animation-name: bounceIn;
  animation-duration: 2000ms;
  animation-timing-function: linear;
} */
/* навигация в шапке */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list + .nav-list {
  margin-left: 50px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--bg-button-color);

  transform: scaleX(1);
}
.site-nav .current {
  color: var(--bg-button-color);
}

.site-nav .link :active {
  color: var(--bg-button-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav .nav-list {
  position: relative;
}
.site-nav .active:after {
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--bg-button-color);
  border-radius: 2px;
}
/* ======contact====== */
.mail-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.telephone-svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}
.contact {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.contact .list + .list {
  margin-left: 50px;
}
.contact .link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--desc-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact :hover .mail,
.contact :focus .mail {
  color: var(--bg-button-color);
}
.contact :hover .telephone,
.contact :focus .telephone {
  color: var(--bg-button-color);
}
/* =======section hero======= */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-footer);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/overlay-img/occupation.img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* заголовок в hero */
.section-hero .main-heading {
  display: block;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  color: var(--bg-main-page-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

/* кнопка в секции hero */
.hero .button-hero {
  margin-left: auto;
  margin-right: auto;
}
.button-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  min-width: 200px;
  height: 50px;

  border-radius: 3px;
  border-color: transparent;
  color: var(--button-color);
  background-color: var(--bg-button-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--bg-btn-hover);
}

/*====== feature ====== */
.section-feature {
  padding-top: 94px;
  padding-bottom: 47px;
}
.feature-list {
  display: flex;
}
.feature-list .text {
  color: var(--desc-text-color);
}
.feature-list .item {
  flex-basis: calc((100%-90px) / 4);
  margin-right: 30px;
}
.feature-list :nth-child(4n) {
  margin-right: 0px;
}
/* ====== logo-featyre ======  */
.feature-svg {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: var(--bg-button-filter);
}
.logo-svg {
  width: 70px;
  height: 70px;
}

/* подзаголовки секции "о нас" */
.feature-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* текст в секции "о нас" */
.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ======== occupation ======== */
.occupation {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.occupation-img {
  display: flex;
}
.occupation-img .img {
  flex-basis: calc((100%-60px) / 3);
  margin-right: 30px;
}
.occupation-img .img:nth-child(3n) {
  margin-right: 0px;
}
/* ===== label img occupation ===== */

.img-content {
  position: relative;
}
.work-content {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  background-color: var(--bg-work-content);
}

.work-text {
  margin-top: 27px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-main-page-color);
}
/* ======= section-team ======= */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-section-team);
}
.team-list {
  display: flex;
}
.team-list .item {
  flex-basis: calc((100%-90px) / 4);
  margin-right: 30px;
  padding-bottom: 30px;

  background-color: var(--button-color);
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-list .item:nth-child(4n) {
  margin-right: 0px;
}

/* имена разработчиков */
.section-team .name {
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* специальности команды */
.section-team .text {
  margin-top: 10px;

  color: var(--desc-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ====== social ====== */
.social {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 17px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--desc-text-color);
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  margin-right: 5px;
  margin-left: 5px;
}
.social :nth-child(1) {
  margin-left: 0;
}
.social :nth-child(4n) {
  margin-right: 0;
}
.social-svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--bg-button-color);
  color: var(--bg-main-page-color);
}

/* ======== customers ======== */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers .customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--desc-text-color);
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-svg {
  fill: currentColor;
}
.company1 {
  width: 44px;
  height: 49px;
}
.company2 {
  width: 40px;
  height: 52px;
}
.company3 {
  width: 41px;
  height: 43px;
}
.company4 {
  width: 80px;
  height: 42px;
}
.company5 {
  width: 59px;
  height: 47px;
}
.company6 {
  width: 88px;
  height: 45px;
}
.company-link:hover,
.company-link:focus {
  color: var(--bg-button-color);
  border-color: var(--bg-button-color);
}
/* ======footer====== */
.footer-text {
  color: var(--button-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-footer);
}
.contact-footer .link {
  color: var(--desc-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-footer .link-map {
  color: var(--button-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer .list {
  display: block;
  margin-top: 19px;
}
.contact-footer .list.map {
  margin-top: 20px;
}
/* =====social footer===== */
.flex {
  display: flex;
  align-items: baseline;
}
.social-footer {
  display: flex;
  margin-left: 85px;
}
.social-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-main-page-color);
}

.footer-list {
  display: flex;
  margin-top: 20px;
}
.footer-list .social-link {
  color: var(--bg-main-page-color);
  background-color: var(--bg-social-footer);
}
.footer-list .social-link:hover,
.footer-list .social-link:focus {
  background-color: var(--bg-button-color);
}

.footer-list :nth-child(1) {
  margin-left: 0;
}
.footer-list :nth-child(4n) {
  margin-right: 0;
}
/* ====== form send footer ====== */
.mailing {
  display: flex;
  margin-top: 20px;
}
.mailing-list {
  margin-left: 93px;
}
.mailing-send {
  padding: 15px 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--mailing-text-pl);
  background-color: transparent;
}
.subscribe-btn {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 12px;
  padding: 10px 26px;
  min-width: 200px;
}
.mailing-send::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--mailing-text-pl);
}
/*========================= PORTFOLIO =============================*/
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btn .button {
  display: flex;
  justify-content: center;
}
.button-item + .button-item {
  margin-left: 8px;
}

/* кнопки фильтра */

.button .filter {
  border-color: transparent;
  background-color: var(--bg-button-filter);
  border-radius: 3px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter.active-filter :visited {
  background-color: var(--bg-button-filter);
}
/* кнопки после наведения */
.button .filter:hover,
.button .filter:focus {
  color: var(--button-color);
  background: var(--bg-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ====== project list ====== */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 0;
}
.project-content {
  padding: 20px 0px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/* заголовки под картинками */
.project .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--project-title-color);
}

/* текст под картинками */
.project .subtitle {
  color: var(--desc-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.project-list .link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list :hover .link,
.project-list :focus .link {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item {
  margin-bottom: 30px;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* ====== hover projekt list ====== */
.project-container {
  position: relative;
  overflow: hidden;
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;

  left: 0;
  top: 0;

  background-color: var(--bg-poject-hover);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-text {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 322px;
  height: 168px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--bg-main-page-color);

  transform: translate(-50%, -50%);
}
.project-list :hover .text-container {
  opacity: 1;
  transform: translateY(0%);
}

/* ====== backdrop ====== */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;

  opacity: 1;

  background-color: var(--bg-backdrop);

  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;

  width: 528px;
  height: 581px;

  background-color: var(--bg-main-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  background-color: var(--bg-main-page-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--name-color);
}
.close-link :hover,
.close-link :focus {
  fill: var(--bg-button-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===== data title ===== */
.data-title {
  margin-bottom: 12px;

  display: block;
  height: 23px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--nav-color);
}
.client-box {
  position: relative;
}
.request {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  width: 100%;
}
.client-info {
  margin: 4px 0px 10px;
  padding: 0px 0px 0px 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  cursor: pointer;

  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hints {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--desc-text-color);
}

.check-mark {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-mark-custom {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;

  border-radius: 2px;
  border: 2px solid var(--project-title-color);
  background-image: url(../img/sprite/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.check-mark:checked + .check-mark-custom {
  background-color: var(--bg-button-color);
  border: transparent;
}
.check-mark:focus-visible + .check-mark-custom {
  box-shadow: 0 0 0 2px var(--bg-footer);
}
.agreements {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 20px;

  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--desc-text-color);
}
.contract {
  color: var(--bg-button-color);
}

.person-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--name-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-black-icon {
  fill: currentColor;
}
.client-box:focus-within .person-icon {
  color: var(--bg-button-color);
}
.client-info:focus {
  border: 1px solid var(--bg-button-color);
}
.comment {
  padding: 12px 16px;

  height: 120px;
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--nav-color);
}
.comment::placeholder {
  color: var(--comment-color);
}
.send-modal {
  margin: 0px;
  height: 50px;
  align-self: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-modal:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
